{% extends "_layout.twig" %}

{% block content %}
  <h1 class="text-4xl text-black font-display my-4">{{ entry.title }}</h1>
  <img src={{ entry.employeeImage }}>
  <p>{{ entry.jobTitle }}</p>
{% endblock %}