<footer class="footer">
    <div class="container-1280">
      <div class="w-layout-grid _3-column-grid">
        <div class="footer-content-wrapper"><img src="images/Hatch-Logo-white.svg" alt="Hatch Des Moines Logo" width="141">
          <div class="footer-contact-wrapper">
            <div class="small-title">Address</div>
            <p class="margin-btm-0">218 1/2 5th Street<br>West Des Moines, IA 50265</p>
          </div>
        </div>
        <div class="footer-content-wrapper">
          <div class="footer-contact-wrapper">
            <div class="small-title">CONNECT</div>
            <a href="tel:515.224.1025" class="footer-links">515.224.1025</a>
            <a href="mailto:info@hatchdsm.com" class="footer-links">info@hatchdsm.com</a>
          </div>
        </div>
        <div id="w-node-_5d00d69a-f26e-41a3-3b42-b3e6e1542689-e1542675" class="div-block-19">
          <div class="social-wrapper">
            <a href="https://www.facebook.com/hatchdsm/" target="_blank" class="link-block margin-left-0 w-inline-block">
              <div class="text-block"></div>
            </a>
            <a href="https://www.instagram.com/hatchdsm/" target="_blank" class="link-block w-inline-block">
              <div class="text-block"></div>
            </a>
            <a href="https://www.youtube.com/channel/UCXtI1sEv9NvcMq1d4kYjeaQ/videos" target="_blank" class="link-block w-inline-block">
              <div class="text-block"></div>
            </a>
            <a href="https://vimeo.com/user117542082" target="_blank" class="link-block w-inline-block">
              <div class="text-block"></div>
            </a>
            <a href="https://www.linkedin.com/company/hatchdsm" target="_blank" class="link-block w-inline-block">
              <div class="text-block"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>